<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <!-- Boolean - mark true if dynamic generation of classes from csvs is needed -->
    <entry key="generateBeans">true</entry>
    <!-- Boolean - mark true if automatic annotations needed on first run -->
    <entry key="addAnnotatedClassesToSession">true</entry>
    <!-- PATH - file path of data folder -->
    <entry key="dataPath">C:\Users\mikel\Documents\repo\csvParse\backup\test</entry>
</properties>
